<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>User List</title>
<link rel="stylesheet"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"
	defer></script>
<script th:src="@{/js/user/list.js}" defer></script>
<!-- Read Dedicated CSS -->
<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
	<div layout:fragment="content" class="me-5 pe-5">
		<div class="header border-bottom">
			<h1 class="h2">Book List</h1>
		</div>
		<form th:action="@{/book/list}" method="post">
			<div class="row">
				<a class="btn btn-outline-success m-3 col-1" th:href="@{/book/add}">+
					Add</a> <select class="offset-5 form-control w-50" id="cateId"
					name="cateId">
					<option value="0">All categories</option>

					<option th:each="item : ${categories}" th:value="${item.id}"
						th:text="${item.cateName + ' - ' + item.id}"
						th:selected="${cateId == item.id}"></option>
				</select> <input type="submit" value="Search"
					class="btn btn-outline-warning col-1">
			</div>

			<div class="table-responsive">
				<table class="table mt-5">
					<thead>
						<tr>
							<th>BookId</th>
							<th>Image</th>
							<th>BookName</th>
							<th>Price</th>
							<th>Description</th>
							<th>CateId</th>
							<th>AuthorName</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${bookList}">
							<td th:text="${item.id}"></td>
							<td><img th:src="@{'/images/' + ${item.image}}"
								alt="Book Image" style="width: 50px; height: 50px;"></td>
							<td th:text="${item.bookName}"></td>
							<td th:text="${item.price}"></td>
							<td th:text="${item.description}"></td>
							<td th:text="${item.categories.id}"></td>
							<td th:text="${item.authors.authorName}"></td>
							<td><a class="btn btn-outline-primary"
								th:href="@{/book/list/edit/{id} (id= ${item.id})}"> <i
									class="bi bi-pencil"></i>
							</a> <a class="btn btn-outline-danger"
								th:href="@{'/book/list/delete/' + ${item.id}}"> <i
									class="bi bi-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>
</html>